	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<h3>{{ with .Site.Params.contact.info }}{{ . | markdownify }}{{ end }}</h3>
					<ul class="fh5co-contact-info">
					{{ range .Site.Params.contact.details }}
						<li class="fh5co-contact-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
					{{ end }}
					</ul>
				</div>
				{{ if .Site.Params.contact.form }}
				<div class="col-md-6 to-animate">
					<form method="post" action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}">
					<div class="form-group ">
						{{ with .Site.Params.contact.name }}
						<label for="name" class="sr-only">{{ . | markdownify }}</label>
						<input id="name" class="form-control" name="name" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.email }}
						<label for="email" class="sr-only">{{ . | markdownify }}</label>
						<input id="email" class="form-control" name="_replyto" placeholder="{{ . }}" type="email">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.phone }}
						<label for="phone" class="sr-only">{{ . | markdownify }}</label>
						<input id="phone" class="form-control" name="phone" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.message }}
						<label for="message" class="sr-only">{{ . | markdownify }}</label>
						<textarea id="message" cols="30" rows="5" class="form-control" name="message" placeholder="{{ . }}"></textarea>
						{{ end }}
					</div>
					<div class="form-group ">
						<input class="btn btn-primary btn-lg" value="{{ .Site.Params.contact.button | markdownify }}" type="submit">
					</div>
					</form>
				</div>
				{{ end }}
	<!--			<div class="google_map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2245.4475621674974!2d37.59315461574209!3d55.750727049619776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YPQuy4g0JDRgNCx0LDRgiwgMdCwLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTE5MDE5!5e0!3m2!1sen!2sua!4v1535969052011" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>'
				</div> -->
			</div>
		</div>
		{{ if .Site.Params.contact.map }}
        	<div id="map" class="to-animate"></div>
		{{ end }}
	</section>
