	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
						</div>
						<div class="services_image">
							<p>
						<img src="images/map.png" width="650" class="leftfoto">
						<ul><li>№ 4716 -1 430 кв. м.</li>
							<li>№ 4762 - 2 040 кв. м.</li>
							<li>№ 4764 - 2 095 кв. м.</li>
							<li>№ 4759 - 2 325 кв. м.</li>
							<li>№ 4758 - 2 408 кв. м.</li></ul>
					</p>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.services.item }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>
					<h3>{{ .title | markdownify }}</h3>
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
		</div>
	</section>
